@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Playfair+Display&display=swap"); 
@import url("compenents/container.css");
@import url("compenents/avatar.css");
@import url("compenents/button.css");
@import url("compenents/banner.css");
@import url("compenents/card.css");







body{
	font-family: 'Lora', serif;
	font-size: 18px;
}

h1,h2,h3{
	font-family: 'Playfair Display', serif;
	font-weight: bold;
}

a{
	text-decoration: none;
}